In [10]:
import pandas as pd

sub = pd.read_parquet("submission.parquet")
sub

   date_id  allocation
0     8980         1.0
1     8981         1.0
2     8982         1.0
3     8983         1.0
4     8984         1.0
5     8985         1.0
6     8986         1.0
7     8987         0.0
8     8988         1.0
9     8989         1.0

In [7]:
print(sub.columns, sub.dtypes)
print(sub.isna().sum())
print(sub["allocation"].min(), sub["allocation"].max())

Index(['date_id', 'allocation'], dtype='object') date_id         int64
allocation    float64
dtype: object
date_id       0
allocation    0
dtype: int64
0.0 1.0

In [8]:
sub1 = pd.read_parquet("submission (1).parquet")
sub1

   date_id  prediction
0     8980    0.569003
1     8981    0.898077
2     8982    1.284482
3     8983    1.016433
4     8984    0.162562
5     8985    1.255063
6     8986    1.429527
7     8987    1.110720
8     8988    1.286617
9     8989    0.682737